body{
	font-family: 'Segoe UI Symbol','sans';
	color: #545454;
	margin:0;
	position: relative;
}

#export_log a{
	text-decoration: none;
	color:#545454;
}

section {
	width:20%;
	height:100%;
	position:fixed;
	left:0;
	top:0;
	box-shadow: 2px 0 10px #717171;
}

#cover_menu {
	box-shadow: 0 2px 2px #717171;
	width:100%;
}

#user_menu {
	width:100%;
	height:50px;
}

#user_menu img {
	margin: 1% 0;
	float: left;
}

#user_menu h1 {
	margin: 2% 2%;
	width:80%;
	float: right;
}

#menu {
	display: none;
	width: 95%;
	text-align: center;
	border-top: thin solid #f6f6f6;
	margin: auto;
}

#menu ul {
	width: 50%;
	list-style-type: none;
	margin: auto;
	text-align: left
}

#menu ul li {
	margin-top:1%;
}


#lists_menu {
	width: 100%;
	height:80%;
}

#lists_menu ul {
	list-style-type: none;
	margin-top: 5%;
	padding: 0;
	width: 100%;
}

#lists_menu ul li {
	position: relative;
	background: rgba(255,255,255,0.7);
	border: thin solid rgb(255,255,255);
}

#lists_menu ul li a {
	display: block;
	width: 100%;
	padding: 2% 0 2% 5%;
	text-decoration: none;
	color: #545454;
}

.info_li {
	width:auto;
	text-align: right;
	position: absolute;
	right:0.5em;
	top:0;
	margin-top: 2%;
}

.info_li img {
	float:right;
	display: none;
}

#new_list_button {
	text-align:center;
	font-size: 2em;
	color: #929292;
	width:100%;
	height:50px;
	background: rgb(255,255,255);
}

#cover_new {
	width:20%;
	height:50px;
	border-top: thin solid #929292;
	position:fixed;
	left:0;
	bottom:0;
	background: rgb(255,255,255);
}

#new_list_form{
	display: none;
}

#new_list_form input {
	display: block;
	margin: 2% auto;
}

.input_text{
	border-radius: 5px;
	border: thin solid #929292;
	height: 2em;
	width: 90%;
	margin: auto;
	display: block;
	padding:0.1%;
}

.input_submit_block {
	width: 20%;
	display: block;
	margin: auto;
}

.input_submit {
	color:rgb(255,255,255);
	border-radius: 5px;
	border: none;
	height: 30px;
	width: 40%;
	background: -webkit-linear-gradient(top,#3288fe,#026bfb);
	background: -moz-linear-gradient(top,  #3288fe, #026bfb);/*mozila*/
	background: -ms-linear-gradient(top,#3288fe, #026bfb); /*IE10*/
	margin:auto;
}

.input_submit_block {
	width: 20%;
	display: block;
	margin: auto;
}
#close_edit_list{
	left: 97%;
	top: 10px;
	position: absolute;
	font-size: 25px;
}

#edit_window input[type=submit] {
	width: 15%;
}

#edit_form {
	position: relative;
}

#edit_window input[name='edit'] {
	position: absolute;
	left:7%;
	top:70%;
}

#edit_window input[name='delete'] {
	position: absolute;
	left:78%;
	top:70%;
}

#edit_window {
	padding-bottom: 5%;
	display: none;
}

.pointer {
	cursor: pointer;
}

.error {
	color:rgb(255,0,0);
}

.wrong_message {
	z-index: 200;
	background: #ffe3e3;
	text-align:center;
}

.error_window{
	padding:1%;
	position: absolute;
	top:1em;
	width:100%;
}

.window {
	width: 50%;
	height: 50%;
	margin: auto auto;
	background: rgb(255,255,255);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 15px #7f7f7f;
	position: absolute;
	z-index: 1000;
	padding: 1em;
	left:25%;
	top:25%;
}

.window h1 {
	text-align: center;
}

#login label {
	font-size: 1em;
	display: block;
	float: left;
	padding-right: 10px;
	line-height: 50px;
	clear:left;
	margin-left: 11em;
	width:55px;
}

#login input[type='text'], #login input[type='password']{
	width: 40%;
	margin:2% 0;
	float:left;
	background: #fcfcfc;
	padding:;
}

#login input[type='submit']{
	clear: both;
}

#tasks, #log{
	width:80%;
	height: 100%;
	margin-left: 20%;
	margin-top: 1em;
}

#tasks ul {
	list-style-type: none;
	padding: 0;
}

#tasks.edit form{
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 15px #7f7f7f;
	height: 200px;
	position: fixed;
	left: 27%;
	top: 20%;
	width: 61%;
	background: #fff;
}

#tasks.edit input[type='text']{
	margin: 10px;
	margin-bottom: 0;
}
#tasks.edit {
	margin-left: 1.5%;
	position: relative;
}
#tasks.edit input[type='submit']{
	width: auto;
	color:#fff;
	border:none;
	border-radius: 5px;
	background: -webkit-linear-gradient(top,#3288fe,#026bfb);
	background: -moz-linear-gradient(top, #3288fe, #026bfb);
	background: -ms-linear-gradient(top,#3288fe, #026bfb);
}
#tasks li{
	width:95%;
	height: 10%;
	background:-webkit-linear-gradient(top, #f8f8f8 20%,#ececec);
	background: -moz-linear-gradient(top,  #f8f8f8 20%, #ececec);
	background: -ms-linear-gradient(top, #f8f8f8 20%, #ececec);
	margin: auto;
	padding: 0.2%;
	border-radius: 5px;
	border:none;
	padding: 1%;
	margin-bottom: 0.5%;
}

#tasks li div {
	display: inline-block;
}

#tasks input[type='submit']{
	width: 10%;
	height:3em;
	margin:0 1.5%;
}

#tasks input[type='text']{
	width: 34%;
	background:-webkit-linear-gradient(top,#7e7e7e,#5d5d5d);
	background: -moz-linear-gradient(top,  #7e7e7e,#5d5d5d);
	background: -ms-linear-gradient(top, #7e7e7e,#5d5d5d);
	margin:0 1.5%;
	border-radius: 5px;
	border: thin solid #929292;
	height: 2em;
	padding:1%;
	color:rgb(255,255,255);
}

#tasks p {
	margin: auto;
	width: 97%;
}

.complete_task {
	background: rgb(180,180,180) !important;
}

#log {
	display:none;
	position: relative;
}

#log ul {
	list-style-type: none;
}

#log ul li {
	width: 80%;
}

#log #close_log {
	position: absolute;
	top:0.5%;
	right:20%;
	font-size: 1.2em;
}

#log h1 {
	margin-left: 1em;
	border-bottom: thin solid rgb(240,240,240)
}

table {
	text-align: center;
	margin-left: 2em;
}

table th {
	background: rgb(180,180,180);
}

.gray {
	background: rgb(230,230,230); 
}
.chBoxContainer {
    width: 49%;
	height: 100px;
	overflow-y: scroll;
	margin-top: 1%;
	margin-left: 1.5%;
	margin-bottom: 2%;
	border: solid;
	border-radius: 5px;
   }
.txtArea{
  float: left;
  width: 48%;
  height: 100%;
  margin-left: 10px;

}
.chBoxWrapper{
padding-top: 10px;
  margin-bottom: 2%;
}
.chboxAndLabel{
display: block;
}
#close_edit_task{
	position: absolute;
	right: 3%;
	top: 5%;
	font-size: 25px;
	cursor: pointer;
}
.opakuj{
	float: left;
	margin-top: 5px;
	margin-left: 11px;
}
#lists_menu ul li:hover{
	background-color: rgb(170, 220, 255);
}

#tasks .chboxAndLabel input[type=submit]{
	width: 30%;
	margin-top:1%;
}
#tasks form{
	/*float:left;*/
}

#login.window {
	width: 50%;
	height: 260px;
	margin-top: 30px;
	background: rgb(255,255,255);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 15px #7f7f7f;
	position: absolute;
	z-index: 1000;
	padding: 1em;
	left: 25%;
	top: 25%;
}
.vymaz_v_zoz input[type='submit']{
	width: 50%;
}
/*responsive*/

@media (max-width: 799px){
	body{
		width:100%;
	}
	#login{
		width:100%;
	}
	#login label{
		margin-left: 0px;
	}
	#login input[type='text'], #login input[type='password']{
		width: 50%;
	}
	.window{
		width: 100%;
		position:relative;
		left: 0;
	}
	.window h1{
		font-size: 1em;
	}
	section{
		width: 100%;
		position: relative;
	}
	#cover_new{
		position: relative;
		width: 100%;
	}
	#tasks{
		width: 100%;
		margin-left: 0px;
	}
	#tasks input[type='submit']{
		width: 97%;
		margin:0 1.5%;
		margin-bottom: 3px;
	}


	#tasks input[type='text']{
		width: 94.8%;
	}
	#edit_window input[name='edit']{
		position: relative;
		left:0px;
		width: 100%;
	}
	#edit_window input[name='delete']{
		position: relative;
		width: 100%;
		left:0px;
	}
	.input_text{
		width: 100%;
	}
  	.chBoxContainer {
  		width: 95.4%;
		height: 100px;
		overflow-y: scroll;
		margin-left: 10px;	
		margin-bottom: 2%
   }
	.txtArea{
		float: left;
		width: 95%;
		margin-bottom: 3px;
	}
	.chBoxWrapper{
		padding-top: 10px;
	    margin-bottom: 2%;
	}
	.chboxAndLabel{
		display: block;
	}
	#tasks.edit input[type='text']{
		width: 70%
	}
	#tasks.edit input[type='submit']{
		width :97%;
	}
	#tasks.edit.chBoxContainer {
		width :100%;
	}
	#tasks.edit form{
		width: 100%;
		position:relative;
		left:auto;
		top: auto;
		height: initial;
	}
	#tasks .chboxAndLabel input[type=submit] {
		width: 40%;
	}
	#close_edit_list{
		left: 94%;
	}
	#log{
		margin-left:0px;
		width: 100%;
	}
	#log ul li {
		width: 100%;
	}
	#login.window {
		width: 100%;
		height: 260px;
		margin-top: 30px;
		background: rgb(255,255,255);
		border: none;
		border-radius: 10px;
		box-shadow: 0 0 15px #7f7f7f;
		position: absolute;
		z-index: 1000;
		padding: 1em;
		left: 0%;
		top: 25%;
	}
}

