/*	GENERAL
 -------------------------------------------------------------------------------------- */
* { 
	margin: 0; 
	padding: 0; 
}
/*body { 
	background: #ffffff; 
	font: 14px/20px Trebuchet MS, sans-serif; 
	color: #222; 
}*/

.error		{ 
	color: #cc3333; 
	background: #ffcccc; 
	border: #cc3333 1px solid; 
}

.success	{ 
	color: #669933; 
	background: #dcffb9; 
	border: #669933 1px solid; 
}
.cen{ 
	vertical-align: middle;
}

.clear, .cl { 
	clear: both; 
}

.wrap{ 
	overflow: hidden; 
}

div.clear{
	width: 0px;
	height: 0px;
}
#container {
 width: 640px; 
 margin: 50px auto; 
}

/*h1 { 
	font-size: 26px;
	color: #444;

}

h2 { font-size: 18px; 
	color: #888; 
	margin-bottom: 15px;
}
h1, h2 { 
	/*font-style: italic; 
	line-height: 30px; 
}*/
.login-h1{
	text-align: center;
}
p {
 margin-bottom: 15px; 
 padding-left: 1px; 
}

p:last-child { 
	margin: 0; 
}

small { 
	color: #9f9f9f; 
	font-style: italic; 
	font-size: 11px; 
}

.validation_error:first-child { 
	clear: both; 
	padding-top: 10px; 
	border-top: 1px dashed #ccc; 
}

.validation_error { 
	clear: both; 
	font-size: 11px; 
	font-style: italic; 
	color: #cc3333; 
}



/* FORMS
 -------------------------------------------------------------------------------------- */
textarea, input {
	background: #fcfcfc; 
	border: 1px solid; 
	border-color: #ddd #fff #fff #ddd; 
	padding: 7px; 
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	font-size: 12px; 
}

textarea { 
	width: 620px; 
	height: 100px;
	 padding: 10px; 
	}
input[type=text], input[type=password] { 
	width: 50%; 
	display: block; 
	}

input[type=submit] {
	padding: 3px 10px; 
	margin-top: 5px; 
	cursor: pointer; 
	position: relative; 
	font-family: inherit; 
	font-style: italic; 
	font-size: 15px; 
	color: #ccffff;	
	background: #0066ff; 
	border: 1px solid;
	border-color: #fff #ddd #ddd #fff; left: 3px; 
	height: 45px; 
	width: 150px;
}
input[type=submit]:hover { border-color: #0066ff; }
 

 
/* LOGIN & REGISTER
 -------------------------------------------------------------------------------------- */
/*#auth-wrapper
{
	border-radius:5px;
	padding: 10px 0px 10px 0px;
	width: 80%;
	margin: auto;
	box-shadow: 1px 1px 13px #888888;
}
#auth 
{ 
	/*width: 216px; */
	/*width: 430px;
	margin: 35px auto; 
/*}
#auth form { 
	margin-top: 65px; 
}
#auth input[type=submit] 
{
	margin-top: 40px;
	margin-bottom: 25px;
	float: left;
	left: 75px;
}

#auth input 
{ 
	margin-bottom: 10px; 
	margin: 10px 0; 
	float: left;
}

#auth label{
	font-size: 1em;
	display: block;
	float: left;
	padding-right: 10px;
	line-height: 50px;
}*/

 
/* HEADER
 -------------------------------------------------------------------------------------- */


/* FOOTER
 -------------------------------------------------------------------------------------- */